<html data-theme="garden" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Foliaging Admin Panel</title>

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/css/tailwind.output.css" />
  <script src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js" defer></script>
  <script src="/assets/js/init-alpine.js"></script>
</head>

<body>
  {{> header }}

  <div class="drawer drawer-mobile">
    <input id="dashboard-drawer" type="checkbox" class="drawer-toggle" />
    <main class="drawer-content my-2 flex flex-col items-center">
      {{#block "content"}}{{/block}}
    </main>
    <div class="drawer-side">
      <label for="dashboard-drawer" class="drawer-overlay"></label>
      <ul class="menu p-4 overflow-y-auto w-80 bg-base-100 text-base-content">
        <!-- Sidebar content here -->
        <li>
          <a>
            Sidebar Item 1
          </a>
        </li>
        <li>
          <a>
            Sidebar Item 2
          </a>
        </li>
      </ul>
    </div>
  </div>

  </div>
  </div>

  {{#block "js"}}{{/block}}
</body>

</html>