{{#extends "base"}}

{{#block "content"}}
<div class="w-full sm:px-6">
  <div class="px-4 md:px-10 py-4 md:py-7 bg-gray-100 dark:bg-gray-700 rounded-tl-lg rounded-tr-lg">
    <div class="sm:flex items-center justify-between">
      <p tabindex="0"
        class="focus:outline-none text-base sm:text-lg md:text-xl lg:text-2xl font-bold leading-normal text-gray-800 dark:text-white ">
        Add {{title}}
      </p>
    </div>
  </div>
  <div class="bg-white dark:bg-gray-800 shadow px-4 md:px-10 pt-4 md:pt-7 pb-5">
    <form class="w-full flex flex-row flex-wrap" method="POST">
      <input type="hidden" name="_csrf" value="{{csrfToken}}" />
      {{{form}}}
      <div class="basis-full">
        <button type="submit"
          class="focus:ring-2 focus:ring-offset-2 focus:ring-zinc-100 mt-6 px-6 py-3 bg-yellow-600 hover:bg-amber-300 focus:outline-none rounded">
          <span class="text-sm font-medium leading-none text-white">Add New</span>
        </button>
      </div>
    </form>
  </div>
</div>
{{/block}}

{{/extends}}