{{#extends "base"}}

{{#block "content"}}
<div class="flex items-center justify-center w-full sm:px-6 pt-10 pb-8">
  <div tabindex="0" aria-label="action panel"
    class="focus:outline-none w-8/12 mx-auto mb-4 md:w-5/12 shadow sm:px-10 sm:py-6 pt-10 pb-4 px-4 bg-white/[0.8] dark:bg-zinc-800/[0.8] rounded-md">
    <form method="POST">
      <input type="hidden" name="_csrf" value="{{csrfToken}}" />
      <div class="flex pb-3 items-center">
        <p tabindex="0" class="focus:outline-none text-lg font-semibold text-gray-800 dark:text-zinc-100 font-semibold">
          Delete {{title}}?
        </p>
      </div>
      <p tabindex="0" class="focus:outline-none text-sm text-gray-600 dark:text-zinc-200 pb-3 font-normal">
        Please note that this action is not reversible
      </p>
      <div class="flex justify-around">
        <button type="submit"
          class="focus:ring-2 focus:ring-offset-2 focus:ring-zinc-100 mt-6 px-5 py-2 bg-yellow-600 hover:bg-amber-300 focus:outline-none rounded">
          <span class="text-sm font-medium leading-tight uppercase text-white">Confirm</span>
        </button>
        <a href="{{homePath}}"
          class="focus:ring-2 focus:ring-offset-2 focus:ring-zinc-100 mt-6 px-5 py-2 bg-sky-600 hover:bg-cyan-300 focus:outline-none rounded mr-2">
          <span class="text-xs md:text-sm leading-tight uppercase text-white">Cancel</span>
        </a>
      </div>
    </form>
  </div>
</div>
{{/block}}

{{/extends}}