{{#extends "base"}}

{{#block "content"}}
<div class="w-full py-16 px-4">
    <div class="flex flex-col items-center justify-center">
        <form class="bg-white shadow rounded dark:bg-zinc-700 lg:w-1/3  md:w-1/2 w-full p-10" method="POST">
            <p tabindex="0"
                class="pb-8 focus:outline-none text-base sm:text-lg md:text-xl lg:text-2xl font-bold leading-normal text-gray-800 dark:text-white ">
                Login now to access system
            </p>
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />
            {{{form}}}
            <div class="mt-8">
                <button type="submit" role="button"
                    class="focus:ring-2 focus:ring-offset-2 focus:ring-amber-700 text-sm font-semibold leading-none text-white focus:outline-none bg-yellow-700 hover:bg-amber-300 border rounded py-4 w-full">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>
{{/block}}

{{/extends}}